.form-container {
    height: 90%;  
}
.form-container h1 {
    font-size: var(--lg);
    margin: 0 0 24px 0;
}
.form div {
    display: flex;
    flex-direction: column;
}

.input-name, .input-email, .input-password {
    margin: 0 0 24px 0;
}

@media (max-width: 640px) {  
    .form {
        height: 100%;
        justify-content: space-between;
    }
}

